version: '3'
services:
  golang:
    build:
      context: .
      dockerfile: Dockerfile.dev
    environment:
        - DB_HOST=db
        - DB_PORT=3306
        - DB_NAME=mysql-db
        - DB_USER=root
        - DB_PASS=password
        - DB_COLLATION=utf8mb4_unicode_ci
        - HASH_NUMBER=12
    volumes:
    - .:/app
    ports:
    - 8080:8080
    depends_on:
    - db

  db:
    image: mysql:5.7
    ports:
    - 3306:3306
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
    - mysql-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: mysql-db

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=db
      - PMA_USER=root
      - PMA_PASSWORD=password
    ports:
      - 1234:80
    volumes:
      - /sessions
volumes:
  mysql-data: